<div id='about' class="dropDown">
	<div>
	<p>Design Products attracts talent from all over the world; the institution’s ranking and prestige acting as a lighthouse, calling to young hopefuls. As students, we find its value in, among other things, its breathing living collective of interchanging ideas. It is this network of conversation between students that inspires insights, and breaks through creative blocks. It reaches beyond the known, challenging conventional methods and theories.</p>

	<p>We wanted to share DP’s creative voice and its position within the realms of art, design, and beyond. Our publication, View Point, is a curated collection giving readers a glimpse into the inner-workings of Design Products students. It is a testament to how we communicate as designers; we hope to represent a wide breadth of content that is reflective of DP’s diverse cohort.</p> 

	<p>We want to: explore and investigate; discover and uncover; and above all, be both accepting and critical as we pave the way for a new age of creatives. 
	</p>
		
	<h3>Editors:</h3>	
	<ul>
		<li><a href="https://www.gcottington.co.uk">Georgia Cottington</a></li>
		<li><a href="https://www.rashmibidasaria.com">Rashmi Bidasaria</a></li>
		<li><a href="https://www.linkedin.com/in/gracemkeeton/">Grace Keeton</a></li>
		<li><a href="https://www.elliotlunn.co.uk">Elliot Lunn</a></li>
	</ul>
	</div>
</div>